<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <button><a href="/">Homepage</a></button><button><a
          href="/about"
        >About</a></button><button><a href="/works">Works</a></button><button><a
          href="/photogallery"
        >Gallery</a></button>
    </nav>
    <div class="aboutDiv">
      <h1>Pikachu (Pokemon)</h1>
      <hr width="900px" />
      <p class="aboutP">
        Pikachu is a short, chubby rodent Pokémon. It is covered in yellow fur
        with two horizontal brown stripes on its back. It has a small mouth,
        long, pointed ears with black tips, and brown eyes. Each cheek is a red
        circle that contains a pouch for electricity storage. It has short
        forearms with five fingers on each paw, and its feet each have three
        toes. At the base of its lightning bolt-shaped tail is a patch of brown
        fur. A female will have a V-shaped notch at the end of its tail, which
        looks like the top of a heart. It is classified as a quadruped, but it
        has been known to stand and walk on its hind legs.
        <br />
        The anime has shown that wild Pikachu live in groups in forested areas.
        Pikachu communicate amongst themselves using squeaks and tail-shaking as
        friendly gestures. In the anime, Alolan Pikachu are known to greet each
        other by sniffing one another and rubbing their tails together.
        Electricity can be used to receive and send messages with each other, as
        well as other Electric Pokémon species. It raises its tail to check its
        surroundings and is occasionally struck by lightning in this position.
        When groups grow, they can inadvertently cause lightning storms. Pikachu
        forage for Berries, which it roasts with electricity to make them tender
        enough to eat. A sure sign that Pikachu inhabits a location is patches
        of burnt grass. It has been observed eating and sometimes destroying
        telephone poles, wires, and other electronic equipment. By occasion, it
        can get unintentionally swallowed by Cramorant. While startled, it looks
        for ways to escape from the latter.
        <br />
        Pikachu charges itself while sleeping overnight, though stress and a
        lack of sleep can affect this. It is able to release electric discharges
        of varying intensity. Pikachu has been known to build up energy in its
        glands, which it will need to discharge to avoid complications. It is
        also able to release energy through its tail, which acts as a grounding
        rod, as well as recharging fellow Pikachu with electric shocks.
        <br />
        Pikachu has three alternate forms: the first one, Cosplay Pikachu,
        appeared exclusively in Pokémon Omega Ruby and Alpha Sapphire. It is
        always female, has a black heart-shaped spot at the end of its tail, and
        can be dressed in any of five outfits corresponding to the five Contest
        conditions. The second form is Pikachu in a cap, which debuted as an
        event-exclusive Pokémon in Generation VII. It is always male and has
        eight variants, each wearing one of Ash's hats from the anime. In
        addition to these two forms, many other Pikachu variants have appeared
        in various media. The last, Partner Pikachu is the Pokémon the player
        starts with in Pokémon: Let's Go, Pikachu!. This Pikachu can be either
        gender, has higher base stats, and has access to moves that normal
        Pikachu do not.
        <br />
        As Gigantamax Pikachu, it becomes larger and chubbier. Its tail becomes
        longer and becomes capable of storing all of the electricity it
        generates, causing it to glow a bright yellow and enabling it to become
        as powerful as a lightning strike. Three red clouds float around the
        tail. Its power is equal to that of a power plant; however, it is
        difficult to use it in peoples' homes since Pikachu can only remain in
        its Gigantamax form for a short time.
      </p>
      <img
        class="homeImg"
        src="/HOME845Go.png"
        alt="Cramorant eating Pikachu"
      />
    </div>
  </body>
</html>