<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <button><a href="/">Homepage</a></button
      ><button><a href="/about">About</a></button
      ><button><a href="/works">Works</a></button
      ><button><a href="/photogallery">Gallery</a></button>
    </nav>
    <div class="homepageDiv">
      <h1>Pikachu (Pokemon)</h1>

      <hr width="900px" />
      <p class="homeP">
        Pikachu (Japanese: ピカチュウ Pikachu) is an Electric-type Pokémon
        introduced in Generation I. <br />
        It evolves from Pichu when leveled up with high friendship and evolves
        into Raichu when exposed to a Thunder Stone. <br />
        In Alola, Pikachu will evolve into Alolan Raichu when exposed to a
        Thunder Stone. <br />
        Pikachu has a Gigantamax form. Pikachu with the Gigantamax Factor cannot
        evolve.<br />
        In Pokémon Yellow, the starter Pikachu will refuse to evolve into Raichu
        unless it is traded and evolved on another save file. In Pokémon: Let's
        Go, Pikachu!, the player's starter Pikachu also will not evolve, but
        cannot be traded to become a Raichu. <br />
        Pikachu is popularly known as the mascot of the Pokémon franchise and
        one of Nintendo's major mascots. <br />It is also the game mascot and
        starter Pokémon of Pokémon Yellow and Let's Go, Pikachu!. It has made
        numerous appearances on the boxes of spin-off titles. <br />Pikachu is
        also the starter Pokémon in Pokémon Rumble Blast and Pokémon Rumble
        World.
      </p>
      <img class="homeImg" src="/pika.jpg" alt="Pokemon Yellow cartridge" />
    </div>
  </body>
</html>
