<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <button><a href="/">Homepage</a></button
      ><button><a href="/about">About</a></button
      ><button><a href="/works">Works</a></button
      ><button><a href="/photogallery">Gallery</a></button>
    </nav>

    <h1>Moves learnt by Pikachu</h1>

    <ul class="worksC">{{#each moves}} <li>{{>abilities}}</li>{{/each}}</ul>

  </body>
</html>
